button:hover {
    background-color: #fff;
    border: 2px solid #5476B9;
}

button {
    margin-top: 10px;
    background-color: #5476B9; 
    color: #FFFFFF;
    border-radius: 30px;
    border: 2px solid #FFFFFF;
    box-shadow: 3px 3px #dde1eb; 
    padding: 20px;
    font-size: 25px;
}